@font-face {
 src: url('AmazonFont.ttf');
 font-family: "AmazonEmber";
}

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: "AmazonEmber";
}

#whole-flex {
 position: absolute;
 flex-direction: column;
 text-align: center;
 top: 0;
 right: 0; /* Updated */
 width: 100vw;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: -10;
}

.sidenav {
 max-width: 380px;
 width: 85%;
 overflow: hidden;
 height: 100%;
 position: fixed;
 z-index: 100;
 top: 0;
 right: 0; /* Updated */
 background-color: white; 
 transform-origin: right-center; /* Updated */
 transform: translateX(380px); /* Updated */
}

.sidenavHeader {
 color: white;
 font-weight: bold;
 background-color: rgb(35, 47, 62);
 padding: 10px 30px; /* Updated */
 font-size: 23px;
}

.sidenavContentHeader {
 margin-top: 5px; /* Updated */
 padding: 15px 25px;
 font-size: 20px;
 font-weight: bold;
}

.sidenavContent {
 padding: 15px 25px;
}

.sidenavContent:hover {
 background-color: #eaeded;
}

hr {
 height: 1px;
 border: 0;
 color: gray;
 background-color: gray;
 margin: 15px auto 10px auto;
}

.sidenavRow {
 display: flex;
 width: 100%;
 justify-content: space-between;
 padding: 15px 25px;
}

.sidenavRow:hover {
 background-color: #eaeded; 
}

.sidenavRow:hover i {
 color: #111111 !important;
}


#closeBtn {
 display: none;
 position: absolute;
 top: 0;
 right: 0; /* Updated */
 margin-right: 390px; /* Updated */
 color: white;
 font-size: 50px; 
 cursor: pointer;
 z-index: 75;
 transform: translateY(-5px);
 transition: visibility 0.5s;
}


a, a:link, a:visited, a:hover, a:active {
 text-decoration: none;
 color: black;
}


/*--Animation*/

@keyframes collapse {
 0% {
  z-index: 100;
  transform: translateX(0px);
 }
 100% {
  transform: translateX(380px);
 }
}

@keyframes expand {
 0% {
  z-index: 100;
  transform: translateX(380px);
 }
 100% {
  transform: translateX(0px);
 }
}

@keyframes show {
 0% {
  opacity: 0;
 }
 100% {
  opacity: 1;
 }
}

@keyframes hide {
 0% {
  opacity: 1;
 }
 100% {
  opacity: 0;
 }
}

/*overlay*/

#overlay {
 display: none;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 50;
 background-color: rgba(0, 0, 0, 0.7);
}

/* Dropdown */
.sidenavContainer hr {
 width: 85%;
}

.sidenavRowDropdown {
 display: flex;
 width: 100%;
 justify-content: start;
 align-items: center;
 padding: 15px 25px;
 cursor: pointer;
}

.sidenavRowDropdown:hover {
 background-color: #eaeded; 
}

.sidenavRowDropdown:hover i {
 color: #111111 !important;
}

.sidenavContainer {
 display: none;
 height: 0px;
 opacity: 0;
 transform: scaleY(0);
 transform-origin: center top;
}  

@keyframes expandDropDown {
 0% {
  transform: scaleY(0);
  opacity: 0;
 }
 100% {
  transform: scaleY(1);
  opacity: 1;
 }
}

@keyframes collapseDropDown {
 0% {
  transform: scaleY(1);
  opacity: 1;
 }
 100% {
  transform: scaleY(0);
  opacity: 0;
 }
}

/*container part*/
#main-container {
 position: absolute;
 width: 100%;
 height: 100%;
 overflow-y: scroll;
} 

@keyframes mainAway {
 0% {
  transform: translateX(0px);
 }
 100% {
  transform: translateX(380px);
 }
}

@keyframes mainBack {
 0% {
  transform: translateX(380px);
 }
 100% {
  transform: translateX(0px);
 }
}


#sub-container {
 position: absolute;
 width: 100%;
 height: 100%;
 overflow-y: scroll;
 background-color: white;
 transform: translateX(-380px); /* Updated */
}

@keyframes subBack {
 0% {
  transform: translateX(-380px);
 }
 100% {
  transform: translateX(0px);
 }
}

@keyframes subPush {
 0% {
  transform: translateX(0px);
 }
 100% {
  transform: translateX(-380px);
 }
}


#mainMenu {
 margin-top: 5px;
 padding: 15px 25px;
 font-weight: bold; 
}

#mainMenu:hover {
 background-color: #eaeded;
 cursor: pointer;
}
